@import "../../../variables";

.white {
  color: $primary-blue;
  background-color: white;
  border: 1px solid white;
}

.blue {
  color: white;
  background-color: $primary-blue;
  border: 1px solid white;
}

.round {
  border-radius: 4px;
}