language: node_js
node_js:
 - "10"
branches:
 only:
 - master
cache:
 directories:
   - "node_modules"
   - "functions/node_modules"
before_script:
 - npm install -g firebase-tools
script:
  - npm run test-ci
  - npm run build:ssr
after_success:
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then firebase deploy --token $FIREBASE_TOKEN'
after_script:
  - npm run lighthouse-ci