language: node_js
node_js:
 - "10"
cache:
 directories:
   - "node_modules"
   - "functions/node_modules"
before_script:
 - npm install -g firebase-tools
 - 'echo $TRAVIS_BRANCH'
 - 'echo $TRAVIS_PULL_REQUEST'
 - 'echo $TRAVIS_PULL_REQUEST_BRANCH'

script:
  - npm run test-ci
  - npm run build:ssr
after_success:
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" && "$TRAVIS_BRANCH" == "master" ]; then firebase deploy -p hapkido-website --token $FIREBASE_TOKEN'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" && "$TRAVIS_BRANCH" == "develop" ]; then firebase deploy --token $FIREBASE_TOKEN'
after_script:
  - npm run lighthouse-ci