<div class="faqs">
  <app-feature [image]="'faqs.jpg'">
    <div class="feature-text">
      <div class="text">
        <h1><span class="color-yellow">FAQ's</span></h1>
        <p>Kumdo or <span class="color-yellow"> 'way of the sword'</span>, is a Korean style of Swordsmanship. The techniques and movements of Kumdo are beautiful and dynamic, with a balance, speed, power and accuracy and oneness with body, mind and spirit.</p>
        <app-book-now-button [color]="'white'" [round]="true" [GATag]="'ga-feature-book-now'"></app-book-now-button>
      </div>
    </div>
  </app-feature>
  <div class="faqs">
    <h2>FAQs</h2>
  </div>

  <app-free-trial-bar></app-free-trial-bar>
  <app-footer></app-footer>

</div>
