@import "../../../variables";

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  button {
    font-size: 16px;
    padding: 20px 40px;
    width: 100%;
    text-align: left;

  }

  .active {
    background-color: $primary-blue;
    color: white;
  }

  .close {
    align-self: flex-end;
    text-align: right;
    width: 50px;
  }

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}