<div class="sidenav">
  <button mat-button color="accent" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/" (click)="close()">Home</button>
  <button mat-button color="accent" routerLinkActive="active" routerLink="/about" (click)="close()">About</button>
  <button mat-button color="accent" routerLinkActive="active" routerLink="/news" (click)="close()">News</button>
  <button mat-button color="accent" routerLinkActive="active" routerLink="/contact" (click)="close()">Contact Us</button>


</div>
