<div class="about">
<app-feature [image]="'feature-park-kibon-7.jpg'">
  <div class="feature-text">
    <div class="text">
      <h1>About <span class="color-yellow">Hapkido</span></h1>
      <p>Hapkido is used worldwide by government agencies, military Special Forces and law enforcement agencies. There are approximately 3600 techniques in Hapkido. Our schools teach about 1500 of these techniques.</p>
      <app-book-now-button [color]="'white'" [round]="true" [GATag]="'ga-feature-book-now'"></app-book-now-button>
    </div>
  </div>
</app-feature>
  <div class="history">
    <h2>About Hapkido</h2>
    <app-card>
      <h3>Self Defence</h3>
      <p>Hapkido is a form of self defense that employs joint locks, kicks, punches, and other striking attacks. There is also the use of traditional weapons, including a sword, rope, cane, short stick, and staff which vary in emphasis depending on the particular tradition examined.</p>
      <p>Hapkido contains both long and close range fighting techniques, utilizing jumping kicks and deadly hand strikes at longer ranges and pressure point strikes, joint locks, or throws at closer fighting distances. Hapkido emphasizes circular motion, non-resisting movements, and control of the opponent. Practitioners seek to gain advantage through footwork and body positioning to employ leverage, avoiding the use of strength against strength.</p>
    </app-card>
  </div>

  <app-background-image [image]="'feature-kibon-7.jpg'">
    <h1> Hapkido translates to "The Art of Coordinated Power"</h1>
  </app-background-image>

  <div class="benefits">
    <app-card>
      <h2>Training includes:</h2>
      <ul>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>

      </ul>
    </app-card>

    <app-card>
      <h2>Benefits of Hapkido:</h2>
    </app-card>
  </div>


</div>
