<div class="about">
<app-feature [image]="'feature-park-kibon-7.jpg'">
  <div class="feature-text">
    <div class="text">
      <h1>About <span class="color-yellow">Hapkido</span></h1>
      <p>Hapkido is used worldwide by government agencies, military Special Forces and law enforcement agencies. There are approximately 3600 techniques in Hapkido. Our schools teach about 1500 of these techniques.</p>
      <app-book-now-button [color]="'white'" [round]="true" [GATag]="'ga-feature-book-now'"></app-book-now-button>
    </div>
  </div>
</app-feature>
</div>
