<div class="about">
<app-feature [image]="'feature-park-kibon-7.jpg'">
  <div class="feature-text">
    <div class="text">
      <h1>About <span class="color-yellow">Hapkido</span></h1>
      <p>Hapkido is used worldwide by government agencies, military Special Forces and law enforcement agencies. There are approximately 3600 techniques in Hapkido. Our schools teach about 1500 of these techniques.</p>
      <app-book-now-button [color]="'white'" [round]="true" [GATag]="'ga-feature-book-now'"></app-book-now-button>
    </div>
  </div>
</app-feature>
  <div class="history">
    <h2>About Hapkido</h2>
    <app-card>
      <h3>Self Defence</h3>
      <p>Hapkido is a form of self defense that employs joint locks, kicks, punches, and other striking attacks. There is also the use of traditional weapons, including a sword, rope, cane, short stick, and staff which vary in emphasis depending on the particular tradition examined.</p>
      <p>Hapkido contains both long and close range fighting techniques, utilizing jumping kicks and deadly hand strikes at longer ranges and pressure point strikes, joint locks, or throws at closer fighting distances. Hapkido emphasizes circular motion, non-resisting movements, and control of the opponent. Practitioners seek to gain advantage through footwork and body positioning to employ leverage, avoiding the use of strength against strength.</p>
    </app-card>
  </div>

  <app-background-image [image]="'feature-kibon-7.jpg'">
    <h1> Hapkido translates to "The Art of Coordinated Power"</h1>
  </app-background-image>

  <div class="benefits">
    <app-card>
      <h2>Training includes:</h2>
      <ul>
        <li><i class="fas fa-check"></i>Self Defence</li>
        <li><i class="fas fa-check"></i>Offence</li>
        <li><i class="fas fa-check"></i>Kicking</li>
        <li><i class="fas fa-check"></i>Strikes</li>
        <li><i class="fas fa-check"></i>Blocking</li>
        <li><i class="fas fa-check"></i>Weapons</li>
        <li><i class="fas fa-check"></i>Throwing</li>
        <li><i class="fas fa-check"></i>Tripping</li>
        <li><i class="fas fa-check"></i>Joint Locks</li>
        <li><i class="fas fa-check"></i>Break-falling</li>
        <li><i class="fas fa-check"></i>Meditation</li>
        <li><i class="fas fa-check"></i>Pressure Points</li>
      </ul>
    </app-card>

    <app-card>
      <h2>Benefits of training:</h2>
      <ul>
        <li><i class="fas fa-check"></i>Self Defence</li>
        <li><i class="fas fa-check"></i>Self Confidence</li>
        <li><i class="fas fa-check"></i>Weight Control</li>
        <li><i class="fas fa-check"></i>Fitness</li>
        <li><i class="fas fa-check"></i>Muscle Tone</li>
        <li><i class="fas fa-check"></i>Self Discipline</li>
        <li><i class="fas fa-check"></i>Flexibility</li>
        <li><i class="fas fa-check"></i>Joint Mobility</li>
        <li><i class="fas fa-check"></i>Coordination</li>
        <li><i class="fas fa-check"></i>Concerntration</li>
        <li><i class="fas fa-check"></i>Self Control</li>
        <li><i class="fas fa-check"></i>Stress Management</li>
      </ul>
    </app-card>


  </div>

  <div class="book-now">
    <app-book-now-button [round]="false" [GATag]="'ga-hb-section-book-now'" [color]="'blue'"></app-book-now-button>
    <p>BOOK A FREE TRIAL TODAY</p>
  </div>

  <div class="hapkido">
    <app-card>
      <h2>Benefits of Hapkido</h2>
      <p>Hapkido is not just blocking, hitting and locking, sometimes a direct attack is needed. Hapkido Practitioners don’t want to go to the ground either as this can lead to being in a more vulnerable situation, so we have to attack first.</p>
      <p>Hapkido has a locking system too. This means if you are smaller, or not as strong as your attacker, you can break their arm easily, once the correct angles have been studied and practiced.

      <p> In Hapkido, students study pressure points to break the attacker’s power. If the attacker’s grip is too strong by using pressure point techniques practitioners can gain control as it weakens the attackers hold.</p>

      <p>Students also study how to use the opponent’s power against them. In Hapkido we don’t meet force with force, instead we evade and deflect and allow their energy to flow. We then direct that energy where we can use it to our advantage, for locking, striking, throwing etc.</p>

      <p>Hapkido is not difficult to learn, in fact it is very easy. The key to this is constant practice. Don’t try to remember everything you learn. Instead practice over and over again until the technique becomes a body habit.</p>

      <p class="accent-text"> <b>Hapkido is a form of study, not just physical training.</b></p>
    </app-card>

  </div>

  <div class="hapkido-brisbane">
    <app-card>
      <h2>Hapkido Brisbane</h2>
      <p>Hapkido Brisbane has been teaching Hapkido in Brisbane since 2004. Hapkido Brisbane is a family based club, with classes available for men, women and children of all ages. You can train together as a family or join on your own.</p>

      <p>At Hapkido Brisbane you can develop strength of character, reduce the effects of stress and become a well rounded martial artist. The club's principles are integrity, respect, and discipline.</p>

      <p>Hapkido Brisbanes' qualified black belts will guide you through a structured program.</p>
    </app-card>

  </div>


  <app-free-trial-bar></app-free-trial-bar>
  <app-footer></app-footer>

</div>
