<mat-toolbar color="primary">
  <div class="tool-bar">
    <div class="location">
      <a class="ga-toolbar-location" aria-label="Google maps location link" href="https://www.google.com.au/maps/place/Hapkido+Brisbane/@-27.5322565,153.05899,15z/data=!4m5!3m4!1s0x6b915b6efc8f49ad:0x637b929ffc433204!8m2!3d-27.5356231!4d153.094212" >
        <i class="fas fa-map-marker-alt"></i ><p>62 Newnham Rd, Mt Gravatt, Brisbane 4122</p>
      </a>
    </div>
    <app-social-media-buttons></app-social-media-buttons>
  </div>
</mat-toolbar>