<div class="timetable">
  <app-feature [image]="'wrist-lock.jpg'">
    <div class="feature-text">
      <div class="text">
        <h1>Time<span class="color-yellow">Table</span></h1>
        <p>Hapkido Brisbane runs classes twice a week for colour belt students and 3 times a week for black belts and sword students. We also run other <a href="/about/events">events</a> on weekends to suppliment regular training with workshops, gradings, competitions and social activities.</p>
        <app-book-now-button [color]="'white'" [round]="true" [GATag]="'ga-feature-book-now'"></app-book-now-button>
      </div>
    </div>
  </app-feature>
  <div class="schedule">
    <h2>Class Schedule</h2>
    <app-card>
    </app-card>
  </div>

  <app-free-trial-bar></app-free-trial-bar>
  <app-footer></app-footer>

</div>
