<div class="kumdo">
  <app-feature [image]="'kumdo2.jpg'">
    <div class="feature-text">
      <div class="text">
        <h1><span class="color-yellow">Kumdo</span></h1>
        <p>Kumdo or <span class="color-yellow"> 'way of the sword'</span>, is a Korean style of Swordsmanship. The techniques and movements of Kumdo are beautiful and dynamic, with a balance, speed, power and accuracy and oneness with body, mind and spirit.</p>
        <app-book-now-button [color]="'white'" [round]="true" [GATag]="'ga-feature-book-now'"></app-book-now-button>
      </div>
    </div>
  </app-feature>
  <div class="kumdo">
    <h2>Kumdo</h2>
    <app-card>
      <h3>Hankuk Kumsul</h3>
      <p>At Hapkido Brisbane we teach and practice Hankuk Kumsul, the traditional style of Kumdo handed down by our founder. Kumdo focuses on the practical use of the sword and is the basis of our sword instruction. Kumdo is a full syllabus that is separate from our Hapkido syllabus and teaches the use of the sword as a weapon. Kumdo focuses on the use of a single edged sword. A great deal of focus is placed on correctness of technique.</p>

      <p>Swordsmen use a wooden sword called a mokgeom (or mokdo) to execute the attacks and counter attacks contained in the techniques. Techniques are both solo and partnered. No armour is worn and the participants stop just short of striking each other. In addition to formal techniques, numerous drills, both solo and partnered, and with armour are practiced. Advanced practitioners eventually may use a live blade sword, called a daedo, for practice of cutting.</p>

      <p>Kumdo is also a part of our Hapkido program for senior black-belts (Dans).</p>
    </app-card>

  </div>

  <app-background-image [image]="'kumdo.jpg'">
    <h1> A righteous sword aims for the stars</h1>
  </app-background-image>

  <div class="what-you-will-learn">
    <app-card>
      <h2>Training includes:</h2>
      <ul>
        <li><span class="label">Basics</span>Foundation Kumdo techniques which all other practices are built upon. It marks the beginning of the harmonisation of mind, body, spirit and sword.</li>
        <li><span class="label">Technique</span>Technique is a core element of Martial Arts training, teaching the student many of the necessary skills needed when fighting (sparring). Through a series of moves, the student develops discipline, concentration, endurance and power, all without physical contact or risk of getting hurt. These skills are essential to everyday life, and to practicing Martial Arts.</li>
        <li><span class="label">Cutting</span>The theory and practice of the sword are harmonised in cutting. Speed, accuracy, power, footwork and concentration of intent. Cutting is the Art of Swordsmanship in practice.</li>
        <li><span class="label">Sparring</span>The application of sword practice against an opponent. All elements of Kumdo are essential for effective sparring. Speed, reaction time, accuracy, judgment, mental and physical control. The student must apply all their knowledge and skill to overcome an opponent.</li>
        <li><span class="label">Mental and physical</span>Kumdo teaches more than just how to use a sword. The discipline, mental and physical training and friendship provide the grounds for a life long practice. It is the vital mental training and conditioning that separates the true practitioner from the individual who has only mastered the physical techniques of Kumdo.</li>
      </ul>
    </app-card>
  </div>


  <app-free-trial-bar></app-free-trial-bar>
  <app-footer></app-footer>

</div>
