<div class="pricing">
  <app-feature [image]="'feature-neck-stretching.jpg'">
    <div class="feature-text">
      <div class="text">
        <h1><span class="color-yellow">Fees</span></h1>
        <p><span class="color-yellow">Want the whole family to join?</span> We provide family discounts so no one has to miss out. We have different pricing options for everyone, so weather you travel for work or never want to miss a class there is something for you. </p>
        <app-book-now-button [color]="'white'" [round]="true" [GATag]="'ga-feature-book-now'"></app-book-now-button>
      </div>
    </div>
  </app-feature>
  <div class="prices">
    <h2>Fees</h2>
  </div>

  <app-free-trial-bar></app-free-trial-bar>
  <app-footer></app-footer>

</div>
