
.app {

  .sidebar {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    bottom: 0;
    top: 0;
    margin-top: 32px;
    z-index: 100;
    margin-left: -300px;
    transition: all 1s ease;

  }


}