@import "../../../variables";
$menu-height: 120px;
$image-height: $menu-height - 20px;

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $menu-height;
  padding: 20px  40px;

  .desktop-buttons {
    display: flex;
  }

  @media (max-width: $breakpoint-md) {
    .desktop-buttons {
      display: none;
    }
  }

  @media (min-width: $breakpoint-md) {
    .mobile-buttons {
      display: none;
    }
  }

  img {
    height: $image-height
  }

  .menu-button {
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin: 0 10px;
  }

  .menu-button.active {
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin: 0 10px;
    background-color: $primary-blue;
  }

  .icon-button {
    padding: 0;
    min-width: 44px;
  }

  .sign-in-button {
    color: $primary-blue;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin: 0 10px;
  }

  .sign-in-button.active {
    color: white;
    background-color: $primary-blue;
    border: 1px solid white;
    border-radius: 4px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 10px;
    border-radius: 4px;
  }

  .dropdown-content a {
    color: $primary-blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 4px;

  }

  .dropdown-content a:hover {
    background-color: $primary-blue;
    color: white;
  }

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: $darker-blue;}

}