/* You can add global styles to this file, and also import other style files */
@import "./hapkido-theme";
@import "variables";

body {
  margin: 0;
  font-family: "Euphemia UCAS", Sans-serif;
}

p {
  line-height: 28px;
}


