@import '~@angular/material/theming';
@import "./hapkido-theme";

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$max-site-width: 1200px;


$primary-blue: #0f4289;
$primary-red: #b71c1c;
$primary-yellow: #fdda3e;
$primary-grey: #424242;

$darker-blue: #0e1d32;
