@import "../../variables";

$video-image-height: 270px;
$video-image-width: 450px;

$sm-video-image-height: 220px;
$sm-video-image-width: 340px;
$card-width: 340px;
$class-card-width: 640px;

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .feature-text {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 20px;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }

    @media (min-width: $breakpoint-md) {
      padding: 0px 50px;
    }

    .text {
      width: 50%;

      padding-right: 50px;
      color: white;

      @media (max-width: $breakpoint-md) {
        text-align: center;
        width: 75%;
        padding-right: 0px;
      }

      h1 {
        font-size: 44px;
        font-weight: 100;

        @media (max-width: $breakpoint-lg) {
          font-size: 28px;
        }

        @media (max-width: $breakpoint-sm) {
          font-size: 24px;
        }

        b {
          color: #FEDB38;
          font-weight: 900;
        }
      }

    }

    video {
      display: none;
    }

    .video {
      display: flex;
      justify-content: flex-end;
    }

    iframe {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 100;
      background-size: cover;
    }

    h2 {
      font-weight: 300;
      max-width: 300px;
    }

    .video-images {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      background: url(/assets/images/hbw-video.jpg);
      background-position: left top;
      opacity: 0.8;
      height: $video-image-height;
      width: $video-image-width;
      background-size: $video-image-width $video-image-height;
      background-repeat: no-repeat;
      border: 4px solid white;

      @media (max-width: $breakpoint-md) {
        height: $sm-video-image-height;
        width: $sm-video-image-width;
      }

      .play-icon {
        height: 60px;
        width: 60px;
        border-radius: 50px;
        border: 0px solid black;
        transition: border 0.4s linear;
        margin: 0.5em;
      }

      &:hover {
        background: url(/assets/images/hbw-video.gif);
        background-size: $video-image-width $video-image-height;
        background-repeat: no-repeat;
        background-position: left top;
        cursor: pointer;

        @media (max-width: $breakpoint-md) {
          background-size: $sm-video-image-width $sm-video-image-height;

        }

        .play-icon:hover {
          border: 5px solid white;
          border-color: rgba(255, 255, 255, 0.2); // 50% opacity
        }
      }

    }
  }

  .accent-button {
    color: $primary-blue;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin: 0 10px;
  }

  .color-blue {
    color: $primary-blue;
  }

  .color-red {
    color: $primary-red;
  }

  .hb-section {
    max-width: $max-site-width;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;

    .book-now {
      /deep/ button {
        width: 150px;
        height: 48px;
      }
    }

    .hb-title{
      text-transform: uppercase;
    }

    .motto {
      text-transform: uppercase;
    }

    .hb-description{
      margin-bottom: 40px;
      box-sizing: border-box;
      padding: 20px 40px;
    }

    .values-cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 40px;

      /deep/ app-card {
        width: $card-width;

        h3 {
          font-family: 'PT Sans', sans-serif;
          font-size: 24px;
        }

        .values-icon {
          height: 100px;
        }
      }
    }
  }

  app-background-image {
    h2 {
      text-transform: uppercase;
    }

    @media (max-width: $breakpoint-lg) {
      background-position: center center;
    }

    p {
      max-width: $max-site-width;
      text-align: center;
      font-size: 18px;
    }

    .author {
      font-size: 20px;
    }

  }

  .classes-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;

    h2 {
      text-transform: uppercase;
    }

    .call-to-action {
      text-transform: uppercase;
    }

    app-card {
      width: $class-card-width;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      text-align: left;

      @media (max-width: 800px) {
        width: 100%;
      }

      .content {
        display: flex;
        justify-content: flex-start;

        h3 {
          text-transform: uppercase;
          color: $primary-blue;
          font-family: Futura, "Trebuchet MS", Arial, sans-serif;

        }

        .hapkido-stance {
          height: 200px;
          align-self: center;
          margin-right: -20px;

          @media (max-width: 600px) {
            display: none;
          }
        }
      }

      $info-column-max-width: 500px;

      .info {
        display: flex;
        justify-content: space-between;
        $info-border: 1px solid #ebebeb;
        border-top: 1px solid #ebebeb;

        @media (max-width: $info-column-max-width) {
          flex-direction: column;
        }


        h4 {
          text-transform: uppercase;
          color: $primary-blue;
          font-family: Futura, "Trebuchet MS", Arial, sans-serif;
          margin-bottom: 0px;
          margin-top: 0px;
        }

        .age {
          border-right: $info-border;
          padding-right: 20px;
          padding-left: 20px;
          margin-top: 10px;

          @media (max-width: $info-column-max-width) {
            border: none;
          }
        }

        .times {
          border-right:  $info-border;
          padding-right: 20px;
          margin-top: 10px;
          padding-left: 20px;

          @media (max-width: $info-column-max-width) {
            border: none;
          }
        }

        p {
          margin-top: 5px;
          margin-bottom: 0px;
        }
      }

      .classes-icon {
        height: 100px;
        margin-right: 20px;
      }

      .book-now {
        /deep/ button {
          width: 150px;
          height: 48px;
        }

        align-self: flex-end;
        padding-left: 20px;

        @media (max-width: $info-column-max-width) {
          align-self: flex-start;
          margin-top: 20px;
        }
      }
    }


  }

  .footer-section {
    max-width: 1200px;
    width: $max-site-width;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    background-color: $darker-blue;
    color: white;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    justify-content: flex-end;

    @media (max-width: $max-site-width) {
      width: 100%;
    }
  }

  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
}