@import "../../variables";

$menu-height: 120px;
$image-height: $menu-height - 20px;
$video-image-height: 270px;
$video-image-width: 450px;

$sm-video-image-height: 220px;
$sm-video-image-width: 340px;
$card-width: 300px;
$class-card-width: 600px;

.feature {
  background-image: url('/assets/images/goldcoast-demo-rachel+sarah.JPG');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 688px 0px;

  @media (min-width: $breakpoint-xl) {
    background-size: contain;
  }

  @media (max-width: $breakpoint-lg) {
    background-position: left center;
  }

  h1 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }

  .color-overlay {
    margin-top: 32px;
    height: 688px;
    max-width: $max-site-width;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    background: linear-gradient(to bottom, rgba(41,98,255,0.8), rgba(183, 28, 28, 0.8));
  }

  .menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $menu-height;
    padding: 20px  40px;

    @media (max-width: $breakpoint-md) {
      .desktop-buttons {
        display: none;
      }
    }

    @media (min-width: $breakpoint-md) {
      .mobile-buttons {
        display: none;
      }
    }

    img {
      height: $image-height
    }

    .menu-button {
      color: white;
      border: 1px solid white;
      border-radius: 4px;
      margin: 0 10px;
    }

    .icon-button {
      padding: 0;
      min-width: 44px;
    }

    .sign-in-button {
      color: $primary-blue;
      background-color: white;
      border: 1px solid white;
      border-radius: 4px;
      margin: 0 10px;
    }
  }

  .feature-text {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 20px;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }

    @media (min-width: $breakpoint-md) {
      padding: 0px 50px;
    }





    .text {
      width: 50%;

      padding-right: 50px;
      color: white;

      @media (max-width: $breakpoint-md) {
        text-align: center;
        width: 75%;
        padding-right: 0px;
      }

      h1 {
        font-size: 44px;
        font-weight: 100;

        @media (max-width: $breakpoint-lg) {
          font-size: 28px;
        }

        @media (max-width: $breakpoint-sm) {
          font-size: 24px;
        }

        b {
          color: #FEDB38;
          font-weight: 900;
        }
      }

    }

    video {
      display: none;
    }

    .video {
      display: flex;
      justify-content: flex-end;
    }

    iframe {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 100;
      background-size: cover;
    }

    h2 {
      font-weight: 300;
      max-width: 300px;
    }

    .video-images {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      background: url(/assets/images/hbw-video.jpg);
      background-position: left top;
      opacity: 0.8;
      height: $video-image-height;
      width: $video-image-width;
      background-size: $video-image-width $video-image-height;
      background-repeat: no-repeat;
      border: 4px solid white;

      @media (max-width: $breakpoint-md) {
        height: $sm-video-image-height;
        width: $sm-video-image-width;
      }

      .play-icon {
        height: 60px;
        width: 60px;
        border-radius: 50px;
        border: 0px solid black;
        transition: border 0.4s linear;
        margin: 0.5em;
      }

      &:hover {
        background: url(/assets/images/hbw-video.gif);
        background-size: $video-image-width $video-image-height;
        background-repeat: no-repeat;
        background-position: left top;
        cursor: pointer;

        @media (max-width: $breakpoint-md) {
          background-size: $sm-video-image-width $sm-video-image-height;

        }

        .play-icon:hover {
          border: 5px solid white;
          border-color: rgba(255, 255, 255, 0.2); // 50% opacity
        }
      }

    }
  }
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .accent-button {
    color: $primary-blue;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin: 0 10px;
  }

  .color-blue {
    color: $primary-blue;
  }

  .color-red {
    color: $primary-red;
  }

  .hb-section {
    max-width: $max-site-width;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;

    .hb-title{
      text-transform: uppercase;
    }

    .motto {
      text-transform: uppercase;
    }

    .hb-description{
      margin-bottom: 40px;
      box-sizing: border-box;
      padding: 20px 40px;
    }

    .values-cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 40px;

      .value-card{
        box-sizing: border-box;
        width: $card-width;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px 20px;
        margin: 20px 20px;


        h3 {
          font-family: 'PT Sans', sans-serif;
          font-size: 24px;
        }

        .values-icon {
          height: 100px;
        }
      }
    }


  }

  .book-now {
    .blue-accent-button{
      background-color: $primary-blue;
      color: white;
      width: 150px;
      height: 48px;
    }

  }

  .testimonials {
    background-image: url('/assets/images/testimonials.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    padding: 10px;

    h2 {
      text-transform: uppercase;
    }

    @media (max-width: $breakpoint-lg) {
      background-position: center center;
    }

    p {
      max-width: $max-site-width;
      text-align: center;
      font-size: 18px;
    }

    .author {
      font-size: 20px;
    }

  }

  .classes-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;

    h2 {
      text-transform: uppercase;
    }

    .call-to-action {
      text-transform: uppercase;
    }

    .classes-card {
      box-sizing: border-box;
      width: $class-card-width;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 20px 20px;
      margin: 20px 20px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      text-align: left;

      @media (max-width: 800px) {
        width: 90%;
      }

      .content {
        display: flex;
        justify-content: flex-start;

        h3 {
          text-transform: uppercase;
          color: $primary-blue;
          font-family: Futura, "Trebuchet MS", Arial, sans-serif;

        }

        .hapkido-stance {
          height: 200px;
          align-self: center;
          margin-right: -20px;

          @media (max-width: 600px) {
            display: none;
          }
        }
      }

      $info-column-max-width: 500px;

      .info {
        display: flex;
        justify-content: space-between;
        $info-border: 1px solid #ebebeb;
        border-top: 1px solid #ebebeb;

        @media (max-width: $info-column-max-width) {
          flex-direction: column;
        }


        h4 {
          text-transform: uppercase;
          color: $primary-blue;
          font-family: Futura, "Trebuchet MS", Arial, sans-serif;
          margin-bottom: 0px;
          margin-top: 0px;
        }

        .age {
          border-right: $info-border;
          padding-right: 20px;
          padding-left: 20px;
          margin-top: 10px;

          @media (max-width: $info-column-max-width) {
            border: none;
          }
        }

        .times {
          border-right:  $info-border;
          padding-right: 20px;
          margin-top: 10px;
          padding-left: 20px;

          @media (max-width: $info-column-max-width) {
            border: none;
          }
        }

        p {
          margin-top: 5px;
          margin-bottom: 0px;
        }
      }

      .classes-icon {
        height: 100px;
        margin-right: 20px;
      }

      .book-now {
        align-self: flex-end;
        padding-left: 20px;

        @media (max-width: $info-column-max-width) {
          align-self: flex-start;
          margin-top: 20px;
        }
      }
    }


  }

  .free-trial-section {
    max-width: 1200px;
    width: $max-site-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-blue;
    color: white;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;

    @media (max-width: $max-site-width) {
      width: 100%;
    }

    img {
      height: 46px;
      background-color: white;
      padding: 4px;
      border-radius: 50px;
      margin: 10px;
    }

    button {
      padding: 0px 0px;
      margin: 0px 20px;
      display: flex;
      justify-content: center;
      width: 14%;
      min-width: 88px;
    }

  }

  .footer-section {
    max-width: 1200px;
    width: $max-site-width;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    background-color: $darker-blue;
    color: white;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    justify-content: flex-end;

    @media (max-width: $max-site-width) {
      width: 100%;
    }
  }
}