<div class="home">
  <app-toolbar></app-toolbar>
  <section class="feature">
    <div class="color-overlay">
      <div class="menu">
        <div class="menu-bar">
          <img src="/assets/icons/196-hb-icon.png" alt="Hapkido Brisbane logo with a man flipping, yin and yang symbol and Korean writing for Hapkido">
          <div class="desktop-buttons">
            <button id="ga-menu-button" role="button" class="menu-button ga-menu-button" mat-button>Home</button>
            <button role="button" class="menu-button ga-menu-button" mat-button>About</button>
            <button role="button" class="menu-button ga-menu-button" mat-button>News</button>
            <button role="button" class="sign-in-button ga-menu-button" mat-button>SIGN IN</button>
          </div>

          <div class="mobile-buttons">
            <button role="button" class="menu-button icon-button ga-menu-button" mat-button aria-label="Mobile Menu button"><i class="fas fa-bars"></i>
            </button>
          </div>
        </div>

        <div class="feature-text">
          <div class="text">
            <h1>
              We believe <b>defending yourself is a right</b> not a privilege.
            </h1>
            <button class="accent-button ga-feature-book-now" mat-button>Book now</button>
            <p>BOOK A FREE TRIAL TODAY</p>

          </div>
          <div class="video">
            <button role="button" class="video-images" (click)="playVideo()">
              <img class="play-icon" src="assets/icons/playvideo.png" alt="Play video">
            </button>

            <video controls id="backgroundvid" preload="auto">
              <source src="assets/video/hbw-video.mp4" type="video/mp4">
              <p>This browser does not support the video element.</p>
            </video>
          </div>
        </div>

      </div>

    </div>
  </section>
</div>

<!--
<div class="home">
  <app-toolbar></app-toolbar>
  <div class="feature">
    <app-feature-image [image]="'goldcoast-demo-rachel+sarah.JPG'"></app-feature-image>
    <div class="feature-content">
      <div class="menu-bar">
        <img src="/assets/icons/196-hb-icon.png">
        <div class="desktop-buttons">
          <button class="menu-button" mat-button>Home</button>
          <button class="menu-button" mat-button>About</button>
          <button class="menu-button" mat-button>News</button>
          <button class="sign-in-button" mat-button>SIGN IN</button>
        </div>

        <div class="mobile-buttons">
          <button class="menu-button" mat-button>Home</button>
        </div>
      </div>
      <div class="feature-text">
        <div class="text">
          <h1>
            We believe <b>defending yourself is a right</b> not a privilege.
          </h1>
          <button class="accent-button" mat-button>Book now</button>
          <p>BOOK A FREE TRIAL TODAY</p>

        </div>
        <div class="video">
          <button class="video-images" (click)="playVideo()">
            <img class="play-icon" src="assets/icons/playvideo.png" alt="Italian Trulli">
          </button>

          <video controls id="backgroundvid" preload="auto">
            <source src="assets/video/hbw-video.mp4" type="video/mp4">
            <p>This browser does not support the video element.</p>
          </video>
        </div>
      </div>
    </div>
  </div>

</div>
-->
